<div class="footer-line">
</div>

<div id="contact">
	<nav class="navbar navbar-default footer-style" role="navigation">
			<div class="container">
	    		<div class="container-fluid">
	    			<br>
	    			<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
	    				<h6 class="footer-title">
							<b>LAP STORE:</b>
						</h6>
						We provide cheap solution for your hardware and software problems.
						<br/>We fix all brand laptops and desktops at cheap rate.
			       	</div>
			       	
			       	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<h6 class="footer-title">
								<b>ADDRESS:</b>
							</h6>
							No: 7, Pallavan Salai,<br>
							Perambur,<br>
							Chennai - 600 082<br>
			       	</div>
			       	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<h6 class="footer-title"><b>CONTACT:</b></h6>
							Phone:<br>
							<a href="tel:+919551384246">+91 9551384246</a><br>
							<a href="tel:+919500037830">+91 9500037830</a><br>
							Mail: <a href="mailto://eclipsecreative99@gmail.com">eclipsecreative99@gmail.com</a>

			       	</div>
	    		</div>
	    		<br>
    		</div>
		</nav>
</div>