<div id="service">
	<div class="container">
		<div class="row">
			<h1 class="footer-title text-center" style="text-shadow:2px 2px 5px black;"><b><!-- &nbsp;<span class="glyphicon glyphicon-cog"></span>  -->SERVICES</b></h1>
		</div>
		<div class="panel panel-default">
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<span class="glyphicon glyphicon-wrench"></span> Repair and Services
					</div>
					<div class="panel-body">
					<img style="width:100%" src="images/repair.jpg" class="img-responsive">
					<br/>
					We fix
					<ul>
						<li>Laptops</li>
						<li>Desktops</li>
						<li>Software problems</li>
					</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<span class="glyphicon glyphicon-headphones"></span> Accessories
					</div>
					<div class="panel-body">
					<img style="width:100%" src="images/accessory.jpg" class="img-responsive">
					<br/>
					<ul>
						<li>2<sup>nd</sup> hand laptops & desktops</li>
						<li>Printers/Catridges</li>
						<li>USB Keyboards/Mouse</li>
						<li>& everything your computer needs</li>
					</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<span class="glyphicon glyphicon-cd"></span> Software installation
					</div>
					<div class="panel-body">
					<img style="width:100%" src="images/os.jpg" class="img-responsive">
					<br/>
					One stop for all your software needs
					<ul>
					<li>Latest Games</li>
					<li>Windows 7/8/10 OS</li>
					<li>Antivirus</li>
					</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<nav>
				<ul class="pager">
					<li>
						<a onclick="alert('Sorry! Currently this service is unavailable')">All services</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>