<div id="tips">
	<div class="container text-center">
		<b>Random Tip&nbsp;<span class="glyphicon glyphicon-bullhorn"></span></b>
		<span id="close-tip" class="pull-right text-danger glyphicon glyphicon-remove"></span>
		<br/><span id="display-tip" class="1">Loading...</span>
		<span id="refresh-tip" class="pull-right text-success glyphicon glyphicon-refresh"></span>
	</div>
</div>